.navbar-default { 
    background-color: #1D58B8;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.16), 0 11px 15px 0 rgba(0,0,0,.12);
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: Heiti SC;
    font-size: 18px;
}

.navbar-default .navbar-brand {
    color: #ffe700;
    font-family: Heiti SC;
    font-size: 25px;
    cursor: pointer;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav li>a:hover {
    color: #ffe700;
}

#TagLine {
    font-size: 30px;
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: Heiti SC;
    left: 40%;
}

#MainImage {
    background: url(https://github.com/starkc1/Starkc1.github.io/blob/master/RiddleAirlines/images/MainBackground.png?raw=true) 0% fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}

.panel {
    position: absolute;
    width: 400px;
    top: 350px;
    left: 40%;
    text-align: center;
    transform: translate(0%,-50%);
    padding: 0 15px;
    border-radius: 0px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.16), 0 11px 15px 0 rgba(0,0,0,.12);
    background-color: #1D58B8;
    color: white;
    border-color: #1D58B8;
    font-family: Heiti SC;
}


.titleofsliders1 {
  height: 50px;
  margin-top: 0px;
  background-color: #1D58B8;
  color: white;
  text-align: center;
  font-size: 35px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.16), 0 11px 15px 0 rgba(0,0,0,.12);
}

.jumbotron {
    margin-top: 20px;
    background-color: #25a0da;
    padding-top: 4px;
    padding-bottom: 14px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 11px 15px 0 rgba(0,0,0,.12);
}

.container .jumbotron {
    border-radius: 0px;
}

p {
    margin: -6px 0 -6px;
    font-family: Heiti SC;
}

h4 {
    text-align: center;
    font-family: Heiti SC;
}
